@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

/* the * code is from Love Running */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* No copy paste intended, I want to use Helvetica and Arial replaces it well if needed to */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: darkslategray; /* possibly change this to black later */
}

/* Logo and heading */

#logo {
    font-family: "Nosifer", Helvetica;
    float: left;
    color: black;
    font-size: 300%; /* when more of the site is done check how it looks smaller and larger */
}

h2 {
    font-family: Helvetica, sans-serif; /* when everything is in place try nosifer to see how it looks */
    text-transform: uppercase;
    color: black;
}

/* nav menu right links */

#menu-right {
    font-size: 110%;
}

#menu-right, #logo {
    line-height: 75px; /* check later how 150px looks */
}

#menu-right li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu-right a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

#menu-right a:hover {
    color: lightcoral; /* check color choice when background pic is in place */
}

.active {
    color: lightcoral; /* if we change the above color must change this to same test to see that it 
    works when About us is upp and running */
}

/* main image */

#floating-square1, #floating-square1 h2 {
    color: rgb(8, 8, 8);
}

#floating-square2, #floating-square2 h2 {
    color: rgb(8, 8, 8);
}

#floating-square3, #floating-square3 h2 {
    color: rgb(8, 8, 8);
}

#colorexplosion-image {
    height: 600px;
    width: 100%;
    background: url("../images/colorexplosion2.jpeg") no-repeat center center; /* image file was to large so had to resize it to 2500px wide */
    clear: both;
}

#floating-square1 {
    font-size: 130%;
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #ffffff10; /* this code here i got from Baby Wolf Codes on Instagram */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    bottom: 150px;
    left: 150px;

    position: absolute;
}

#floating-square2 {
    font-size: 130%;
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #ffffff10; /* this code here i got from Baby Wolf Codes on Instagram */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    bottom: 150px;
    left: 550px;

    position: absolute;
}

#floating-square3 {
    font-size: 130%;
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #ffffff10; /* this code here i got from Baby Wolf Codes on Instagram */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    bottom: 150px;
    left: 950px;

    position: absolute;
}